﻿body
{
    background-color: #cccccc;
    background-image: url(Images/bodybg.jpg);
    background-repeat: no-repeat;
    background-position: 0px 10px;
    font-family: Tahoma, Arial, Helvetica, sans-serif; 
    font-size:10pt;
    text-align: left;
}

.error
{
    color: #ff0000;
}

div.diverrs
{
    color: #ff0000;
}

input.error
{
    border: 1px dashed #ff0000;
    background-color: #fff7ce;
}

textarea.error
{
    border: 1px dashed #ff0000;
    background-color: #fff7ce;
}

select.error
{
    border: 1px dashed #ff0000;
    background-color: #fff7ce;
}

label.error
{
    display:block;
    clear:right;
}

span.email_required.error
{
    border: 1px dashed #ff0000;
    background-color: #fff7ce;
}

span.answer_required.error
{
    border: 1px dashed #ff0000;
    background-color: #fff7ce;
}

span.address_required.error
{
    border: 1px dashed #ff0000;
    background-color: #fff7ce;
}

tr.tabbg
{
    background-image:url(images/tabbg.jpg);
    background-position: 0px 39px;
    background-repeat: no-repeat;
}

td.tabbg
{
    border:none;
}

td.tabbg img
{
    vertical-align:bottom;
    border:none;
}

a.aspNetDisabled
{
    text-decoration: none !important;
    color: GrayText !important;
}

a.tab
{
    background-color: #cccccc;
    line-height: 38px;
    height: 38px;
    border-left: solid 1px #68849f;
    border-right: solid 1px #68849f;
    border-top: solid 1px #68849f;
    border-bottom: none;
    display: inline-block;
    font-weight:bold;
    text-align:center;
    padding-left: 5px;
    padding-right: 5px;
    color: #000000;
    text-decoration: none;
}

a.tab.aspNetDisabled
{
    padding-left: 20px;
    background-image: url(Images/lock.png);
    background-repeat: no-repeat;
    background-position:left center;
}

a.activetab
{
    background-color: #68849f;
    color: #ffffff;
    border-left: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    border-top: solid 1px #ffffff;

}

td.subtabbg
{
    padding-bottom: 6px;
    padding-top: 2px;
    background-color: #68849f;
    border: none;
}


a.subtab
{
    border-left: solid 1px #68849f;
    border-right: solid 1px #68849f;
    border-top: solid 1px #68849f;
    border-bottom: none;
    padding-left: 5px;
    padding-right: 5px;
    text-decoration:none;
    line-height: 17px;
    background-color: #293852;
    color: #ffffff;
    display: inline-block;
}

a.subtab.dropdown
{
    padding-right: 20px;
    background-image:url(Images/arrow_right.png);
    background-repeat:no-repeat;
    background-position:right center;   
}

a.subtabitem
{
    color:#ffffff;
    text-decoration:none;
}

a.subtabitem:hover
{
    text-decoration:underline;
}

div.dropdown
{
    display:none;
    border: solid 1px #293852;
    position: absolute;
    background-color: #293852;
	display: none;
	z-index: 1000;
}

a.activesubtab
{
    border-left: solid 1px #ffffff;
    border-right: solid 1px #ffffff;
    border-top: solid 1px #ffffff;
    border-bottom: none;
    background-color: #68849f;
    color: #ffffff;
}

a.view
{
    padding-left:17px;
    background-image:url(Images/view.png);
    background-position:left center;
    background-repeat:no-repeat;
}

a.attach
{
    padding-left:17px;
    background-image:url(Images/attach.png);
    background-position:left center;
    background-repeat:no-repeat;
}

div.page
{ 
	width: auto;
	margin: 10px 20px 10px 20px;
	border: solid 1px #496077;
	background-color: #ffffff;
	padding: 5px;
}

.bread
{ 
	font-size: .8pt;
	line-height:20px;
	font-weight: bold;
	color: #ffffff;
	float: none;
	display: block;
	background-image:url(breadBG.jpg);
	background-repeat: repeat-x;
	background-position:top left;
	padding-left: 5px;
	overflow:hidden;
}

.content 
{
    width: 75%;
    float: left;
    display: table;
    margin-right: 5px;
}

.sidebar 
{ 
	width: 25%;
	float: left; 
	display: table;
	margin-right:5px;
	padding: 0px;
	background: #F0F0F0; 
	border: 1px solid #68849F;
}

.sidebar h4
{
    font-size: 9pt;
}

.sidebar .menu
{ 
	padding: 5px;
	float: left;
}

.sidebar .menu dl 
{ 
	margin: 0; 
	padding: 0em 5px 0px 10px; 
}

.sidebar .menu dl dt 
{ 
	margin: 0; 
	padding: 0 0 .8em 6px; 
	font-weight: normal;
	font-size: 9pt;
}

.sidebar .menu a
{ 
    color: #68849f;
	font-weight: bold;
	text-decoration: none;
}

.sidebar .menu a:hover
{ 
	text-decoration: underline;
}

.button.next
{
    background-image:url(Images/next.png);
    background-repeat: no-repeat;
    background-position:center right;
    padding-right: 18px;
}

.button.prev
{
    background-image:url(Images/prev.png);
    background-repeat: no-repeat;
    background-position:center left;
    padding-left:18px;
}

td.contentwrap
{
    width: 100%;
    border-left: solid 2px #68849f;
    border-right: solid 2px #68849f;
    padding: 5px;
}

.grv
{
    color: #333333; 
    border-collapse: collapse;
}

.grvaltrow
{
    background-color: #ffffff;
    color:#284775;
}

.grvselrow
{
    background-color:#E2DED6;
    font-weight:bold;
    color:#333333;
}

.grveditrow
{
    background-color:#999999;
}

.grvrow
{
    background-color: #F7F6F3;
    color:#333333;
}

.grvhdr
{
    background-color: #5D7B9D;
    font-weight:bold;
    color:#ffffff;
}

.grvhdr a
{
    color: #ffffff;
}

.grvhdr span.lbl
{
    color:#000000;
}

.grvftr
{
    background-color:#5D7B9D;
    font-weight:bold;
    color:#ffffff;
}

.grvsortasccell
{
    background-color:#E9E7E2;
}

.grvsortaschead
{
    background-color:#506C8C;
    background-image: url(Images/arrow_up.png);
    background-position: left, center;
    background-repeat:no-repeat;
    padding-left: 16px;
}

.grvsortdesccell
{
    background-color:#FFFDF8;
}

.grvsortdeschead
{
    background-color:#6F8DAE;
    background-image: url(Images/arrow_down.png);
    background-position: left, center;
    background-repeat:no-repeat;
    padding-left: 16px;
}

.grvpager
{
    background-color:#5D7B9D;
    color:#ffffff;
    text-align:center;
}

div.notice
{
    font-weight: bold; 
    color: #ff0000;
    width: 50%;
}

div.clear
{
    float:none;
    clear:both;
}

input.search
{
    width: 200px;
}

table.sum
{
    width: 690px;
    border: solid 1px #68849f;
}

table.sum tr
{
    background-color: #f0f0f0;
}

table.sum td
{
    width: 50%;
    vertical-align:top;
}

table.app
{
    width: 682px;
    border: solid 1px #68849f;
}

table.app tr
{
    background-color: #f0f0f0;
}

td.lbl
{
    text-align:right;
    vertical-align:top;
    padding-right:10px;
}

td.lbl.required
{
    padding-left: 16px;
    padding-right: 10px;
    background-image:url(images/required.png);
    background-position:left top;
    background-repeat: no-repeat;
    font-weight: bold;
}

table.app td.lbl
{
    width:40%;
    padding-right: 10px;
}

span.lbl
{
    font-weight: bold;
}

table.app textarea
{
    width: 600px;
    height: 60px;
}

div.app
{
    border: solid 1px #68849f;
    padding: 5px;
    margin: 5px;
}

div.pop
{
    padding:5px;
    border:solid 3px #000000;
    background-color: #6F8DAE;
}

div.pop table
{
    width: 550px;
    border: solid 1px #68849f;
}

div.pop table tr
{
    background-color: #f0f0f0;
}

div.pop table textarea
{
    
    width: 546px;
    height: 60px;
}

div.pop table select
{
    width: 300px;
}

div.pop a
{
    font-weight: bold;
    text-decoration: underline;
    color: #68849F;
    cursor:hand;
}

.pop-back
{
    background-color:#CCCCFF;
    filter:alpha(opacity=40);
    opacity:0.5;
}

span.msg
{
    font-weight:bold;
    padding-left:20px;
    display:inline-block;
    width: 680px;
    background-repeat:no-repeat;
    background-position:left top;
    background-color: #c0c0c0;
}

span.msg.error
{
    color: #ff0000;
    background-image:url(images/error.png);
    border: solid 1px #ff0000;
}

span.msg.info
{
    color: #008000;
    background-image:url(images/info.png);
    border: solid 1px #008000;
}

span.msg.warn
{
    color: #ffff00;
    background-image:url(images/warn.png);
    border: solid 1px #ffff00;
}

span.about
{
    background-image:url(images/about.png);
    padding-left:20px;
    display:inline-block;
    background-repeat:no-repeat;
    background-position:left top;
}

div.about
{
    padding:5px;
    width: 550px;
    border:solid 3px #000000;
    background-color: #6F8DAE;   
}

div.queuewrap
{
    width:99%;
    border: solid 1px #c0c0c0;
    padding:3px;
}

div.queue
{
    width:100%;
    margin-bottom: 10px;
    border: solid 1px black;
}

div.queue.fail
{
    border: solid 1px #ff0000;
}

div.queue.warn
{
    border: solid 1px #F88017;
}

div.queue.warn span.notice
{
    color: #f88017;
}

div.queue.fail span.notice
{
    color: #ff0000;
}

div.queue table
{
    width:100%;
}

table.queuehdr td
{
    width: 20%;
    vertical-align:top;
    text-align:center;
    font-weight:bold;
}

table.queuecontent td
{
    width:25%;
    vertical-align:top;
}

table.queuecontent td span
{
    color:#68849F;
}

table.queuecontent td span.error
{
    color: #ff0000;
}

span.queue.meh
{
    color: blue;
}

span.queue.bad
{
    color: #ff0000;
}

span.queue.good
{
    color: #008000;
}

a.queue
{
    background-position: left center;
    background-repeat: no-repeat;
    background-image:url(Images/collapse.jpg);
    padding-left:16px;
    cursor:pointer;
    cursor:hand;
    text-decoration:underline;
}

a.queue.hide
{
    background-image:url(Images/expand.jpg);
}

.autocomplete_completionListElement
{
    margin:0px;
}

table.entryForm td
{
    width:50%;
    padding: 2px 2px 2px 2px;
    text-align:left;
    height:27px;
}

td.mainForm
{
    width:50%;
    padding: 2px 2px 2px 2px;
    text-align:left;
    height:27px;

}

td.sectionHeader
{
    padding:2px 2px 2px 2px;
    text-align:left;
    font-weight:bold;
    background-color:#EEEEEE;
    color:Navy;    
}

.button
{
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    border: 2px outset #68849F;
    background-color: #EEEEEE;
}

.input
{
    width:335px;
    padding:1px 1px 1px 1px;
    display:block;
}

.inputDisabled
{
    background-color:#68849F;
    border:1px solid Navy;  
    display:block;
}

td.buttonBG
{
    border-top: 1px solid #68849F;
    background-color: #DDDDDD;
}

.modalPopup
{
    background-color:#BBBBBB;
    border:1px solid Black;
    padding:3px;
    /*overflow:auto;*/
}

.modalBG
{
    background-color:Gray;
    opacity:0.3;
}

.hiddenGridViewColumn
{
    width:0px;
}

a.clickableLink
{
    font-weight:bold;
    color:Navy;
    cursor:pointer;
}

.dummyControl
{
    display:none;
}

.dropDownList
{
    width:198px;
}

label.help
{
    background-image :url(images/help.png);
    background-position: left top;
    background-repeat: no-repeat;
    line-height: 16px;
    height: 16px;
    width: 16px;
    padding-left: 18px;
    padding-right: 5px;
    cursor: hand;
    cursor: pointer;
}

span.help
{
    display:block;
    position:absolute;
    background-color:#BBBBBB;
    border:1px solid Black;
    padding:3px;
    font-size: smaller;
    cursor: hand;
    cursor: pointer;
    z-index:10000;
    width:200px;
}

input.required
{
    border-left: 3px solid #68849f;
    padding-left: 0px;
}

input.email_required
{
    border-left: 3px solid #68849f;
    padding-left: 0px;
}

input.address_required
{
    border-left: 3px solid #68849f;
    padding-left: 0px;
}

textarea.required
{
    border-left: 3px solid  #68849f;
    padding-left: 0px;
}

select.required
{
    border-left: 3px solid  #68849f;
    padding-left: 0px;
}

input[type=radio].required
{
    border-left:none;
}

    input[type=radio].required.error
    {
        border-left: 1px dashed red;
    }

table.ar
{
    border-collapse: collapse;
    border: solid 1px #000000;
}

table.ar td
{
    border: solid 1px #000000;
}

hr.textDivider
{
    border:0;
    color:#68849f;
    height:1px;
}
