﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="_Staff.ascx.cs" Inherits="_Staff" %>
<%@ Register TagPrefix="UC" TagName="ListContainerControl" Src="~/_usercontrols/ListContainerControl.ascx" %>

<UC:ListContainerControl ID="list" runat="server"></UC:ListContainerControl>