﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="AdverseParties.aspx.cs" Inherits="AdverseParties" MasterPageFile="~/Master.master" %>
<%@ Register TagPrefix="UC" TagName="Parties" Src="~/Screening/_Parties.ascx" %>

<asp:Content ID="Content" ContentPlaceHolderID="UpperContentPlaceHolder" runat="server">
<br />
<strong>Please be careful to enter ALL of the correct Adverse Parties.</strong><br />
<strong>MAKE SURE TO PROVIDE THE NAME OF OPPOSING COUNSEL.</strong>
<UC:Parties ID="_parties" runat="server" />




</asp:Content>