﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="BasicInfo.aspx.cs" Inherits="BasicInfo" MasterPageFile="~/Master.master" %>


<asp:Content ID="Content" ContentPlaceHolderID="UpperContentPlaceHolder" runat="server">


</asp:Content>