﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="CM.aspx.cs" Inherits="CM" MasterPageFile="~/Master.master" %>
<%@ Register TagName="Staff" TagPrefix="UC" Src="_Staff.ascx" %>

<asp:Content ID="UpperContent" ContentPlaceHolderID="UpperContentPlaceHolder" runat="server">
    
    <asp:UpdatePanel ID="_upAR" runat="server" UpdateMode="Conditional" ChildrenAsTriggers="true" />
    <br />
    
    
</asp:Content>

<asp:Content ID="LowerContent" ContentPlaceHolderID="LowerContentPlaceHolder" runat="server">
    <br />
    <br />
    <br />
    
</asp:Content>