﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="Opposing.aspx.cs" Inherits="Opposing" MasterPageFile="~/Master.master" %>

<asp:Content ID="Content" ContentPlaceHolderID="UpperContentPlaceHolder" runat="server">




</asp:Content>