﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="ReferringParty.aspx.cs" Inherits="ReferringParty" MasterPageFile="~/Master.master" %>


<asp:Content ID="Content" ContentPlaceHolderID="UpperContentPlaceHolder" runat="server">


</asp:Content>