﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="RejectionReason.aspx.cs" Inherits="RejectionReason" MasterPageFile="~/Master.master" %>


<asp:Content ID="Content" ContentPlaceHolderID="UpperContentPlaceHolder" runat="server">





</asp:Content>