﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Master.master.cs" Inherits="HH.Branding.Master2" %>
<%@ Register TagName="Screen" TagPrefix="UC" Src="~/_usercontrols/Screen.ascx" %>
<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="ajax" %>
<%@ Register TagPrefix="UC" Assembly="HH" Namespace="HH.UI.ModalPopupForm" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="_head" runat="server">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
    <meta http-equiv="Last-Update" content="2014-04-21" />
	<title><%=Title%></title>
	<style type="text/css">
        @import url('/Adversary/_css/Style.css');
        @import url('/Adversary/_css/Master.css');
    </style>
    <style type="text/css" media="print">
        @import url('/Adversary/_css/Print.css');
    </style>
</head>
<body >


<script type="text/javascript">

    window.onerror = function(message, url, lineNumber) {  
        //ignore this AJAX error
        return (message == "Sys.InvalidOperationException: Handler was not added through the Sys.UI.DomEvent.addHandler method."); 
    };
    

    function handleTabClick(tabElem, id)
    {
        tabElem.className = "tabActive";
        var rows = document.getElementsByTagName("tr");
        for (var x = 0; x < rows.length; x++)
        {
            if (rows[x].className == "TabMenuRow")
            {
                var cells = rows[x].getElementsByTagName("td");
                for (var y = 0; y < cells.length; y++)
                {
                    if (cells[y].id != '' &&
                        cells[y].id != tabElem.id &&
                        cells[y].className != "tabInactiveDisabled")
                    {
                        cells[y].className = "tabInactive";
                    }
                }
            }
            else if (rows[x].id.indexOf("SubMenu_") != -1)
            {
                rows[x].style.display = (rows[x].id.indexOf("SubMenu_" + id) != -1) ? '' : 'none';
            }
        }
        //document.getElementsByName('SubMenu_' + num).style.display = '';
    }
    function handleTabClickPostBack(tabElem, id, confirmRedirect)
    {
        //no menu animation if the confirm dialog is visible
        if (!confirmRedirect)
        {
            handleTabClick(tabElem, id);
        }
        if (tabElem.childNodes[0].click)
        {
            //ie
            tabElem.childNodes[0].click();
        }
        else if (!confirmRedirect)
        {
            //firefox
            window.location.href = tabElem.childNodes[0].href;
        }
    }

    var external = null;
    function openExternalWindow(url)
    {
        external = window.open(url, "external");
        external.focus();
    }
    function closeExternalWindow()
    {
        if (external != null && !external.closed)
        {
            external.close();
        }
    }

    function setPreviousButtonDisabled(isDisabled)
    {
        $get('<%=_btnPrev.ClientID%>').disabled = isDisabled;
    }
    function setNextButtonDisabled(isDisabled)
    {
        $get('<%=_btnNext.ClientID%>').disabled = isDisabled;
    }

    function setAccordianPane(accordianId, index)
    {
        $get(accordianId).AccordionBehavior.set_SelectedIndex(index);
    }
    
    function submitForm()
    {
        $get('<%=_form.ClientID%>').submit();
    }
    
    function getInternetExplorerVersion() 
    {    
        var rv = -1; 
        // Return value assumes failure.    
        if (navigator.appName == 'Microsoft Internet Explorer') 
        {        
            var ua = navigator.userAgent;        
            var re = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");        
            if (re.exec(ua) != null)            
                rv = parseFloat(RegExp.$1);    
        }    
        
        return rv;
    }
</script>
	
<form id="_form" method="post" runat="server" submitdisabledcontrols="true" enctype="multipart/form-data">

<asp:ScriptManager ID="_scriptManager" runat="server" EnablePageMethods="true" EnableScriptGlobalization="true" EnableScriptLocalization="true">
<Services>
    <asp:ServiceReference Path="*.asmx" />
</Services>
</asp:ScriptManager>

<div id="_divWrap" class="pageWrap">
    
    <div id="_divTabMenu" runat="server" class="tabMenu">
    	
    	<asp:UpdatePanel ID="_upTabMenu" runat="server" >
    	    <ContentTemplate>
    	
                <table cellspacing="0" cellpadding="0" style="width: 100%;">
                    <tr>
                        <td class="tabLogoCell">
                            <img src="<%=Request.ApplicationPath%>/_css/HHLogo2.jpg" alt="HH logo" />
                        </td>
                        <td>
                            <asp:Table runat="server" ID="_tableTabs" CellSpacing="0" CellPadding="0" Width="100%">
                                <asp:TableRow ID="_trTabs" runat="server" CssClass="TabMenuRow" />
                            </asp:Table>
                        </td>
                    </tr>
                    <tr >
                        <td colspan="2" class="subMenu">
                            <asp:Table ID="_tableTabSubMenu" runat="server" CellPadding="0" CellSpacing="0" BorderWidth="0" HorizontalAlign="Left" Width="100%"></asp:Table>
                        </td>
                    </tr>
                </table>
            </ContentTemplate>
        </asp:UpdatePanel>
    
    </div> <!--end #tabMenu-->
	
	<div id="_divMainBody" class="mainbody">
		
        <div id="_divBreadCrumbs" runat="server" class="navBreadcrumbs"><%=BreadCrumbText%></div>
        
        <asp:UpdatePanel ID="_upErrorBox" runat="server">
            <ContentTemplate>
    
                <div id="_divErrorBoxContainer" runat="server" style="visibility: hidden;" class="errorBoxContainer">            
                    <script type="text/javascript">
                        errorBoxMaximized = true;
                        function expanderClick()
                        {
                            $get('<%=_divErrorBoxContainer.ClientID %>').style.width = (errorBoxMaximized) ? '200px' : '45%';
                            $get('_imgErrorBoxExpanderBtn').alt = (errorBoxMaximized) ? 'Maximize' : 'Minimize';
                            $get('_imgErrorBoxExpanderBtn').src = (errorBoxMaximized) ? '<%=Request.ApplicationPath%>/_css/maximize.gif' : '<%=Request.ApplicationPath%>/_css/minimize.gif';
                            $get('_errorBoxText').style.display = (errorBoxMaximized) ? 'none' : '';
                            errorBoxMaximized = !errorBoxMaximized;
                        }
                        function closeClick()
                        {
                            $get('<%=_divErrorBoxContainer.ClientID %>').style.visibility = 'hidden';
                        }
                    </script>
                    <div id="_divErrorBox" class="errorBox">
                        <span>
                            <img id="_imgErrorBoxExpanderBtn" src="<%=Request.ApplicationPath%>/_css/minimize.gif" onclick="javascript:expanderClick();" alt="Minimize" />
                            <img id="_imgErrorBoxCloseBtn" src="<%=Request.ApplicationPath%>/_css/close.gif" onclick="javascript:closeClick();" alt="Close" />
                        </span>
                        <strong>Critical Error</strong><br />
                        <p id="_errorBoxText">
                            <asp:Label ID="_lblErrorBox" runat="server"></asp:Label>
                        </p>
                    </div>
                 </div> <!-- end divErrorBoxContainer -->
                
            </ContentTemplate>
        </asp:UpdatePanel>
        

        <div id="_divContent" class="content">
            
            <div id="_divContentSidebar" runat="server" class="contentSidebar">
                
                <br style="clear: both; display: block;" />
                <br />
                <br />
                <div id="_divContentSidebarMenu" class="contentSidebarMenu" runat="server">
                
                    <asp:PlaceHolder ID="_phSidebar" runat="server"></asp:PlaceHolder>
                
                      <!-- end #contentSidebarMenu -->
                </div>
            
                <!-- end #contentSidebar -->
            </div>
            
            <div id="_divContentSpacer" runat="server" class="contentSpacer"></div>    
            
            <div id="_divContentMain" runat="server" class="contentMain">
                
                <!--<hr id="_hrContentXpander" class="contentXpander" />--><!-- expands the width of the main content to take up all available width of the div -->
                <table id="_tableHeader" runat="server" class="headerTable">
                    <tr>
                        <td width="60%"><div class="headerText"><%=HeaderText%></div></td>
                        <td style="width: 40%; text-align: right;">
                            <asp:ContentPlaceHolder id="HeaderContentPlaceHolder" runat="server" />        
                        </td>
                    </tr>
                </table>
                
                <div id="_divFeedbackText" class="feedbackText">
                    <asp:UpdatePanel ID="_upFeedback" runat="server">
                        <ContentTemplate>
                           <asp:Label ID="_lblFeedback" runat="server"></asp:Label><br />
                           <br />
                        </ContentTemplate>
                    </asp:UpdatePanel>
                </div>
                
                <div id="_divLocalPageContent" runat="server" style="text-align: left;"><!-- Local Page Content -->
                
                    
                    <!-- Upper Content Place Holder -->
                    <asp:ContentPlaceHolder id="UpperContentPlaceHolder" runat="server" />
                    <!-- End Upper Content Place Holder -->
                    
                    <!-- Screen Content -->
                    <UC:Screen ID="_screen" runat="server" />
                    <!-- End Screen Content -->
                    
                    <!-- Lower Content Place Holder -->
                    <asp:ContentPlaceHolder id="LowerContentPlaceHolder" runat="server"  />
                    <!-- End Lower Content Place Holder -->

                    
                </div><!-- End Local Page Content -->
                
            </div><!-- End #contentMain -->
            
           
            
        </div> <!-- end #content -->
		
	</div> <!-- end #mainbody -->
	
    
    <UC:ModalForm ID="_modalPopupDialog" runat="server" CancelControlID="_btnPopupCancel" Width="50%">
        <asp:UpdatePanel ID="_upPopupDialog" runat="server">
            <ContentTemplate>
                <!-- Modal Popup Dialog Box -->
                    <br />
                    <br />
                    <div style="padding-left: 5px; padding-right: 5px;"><asp:Label ID="_lblPopupDialog" runat="server"></asp:Label></div>
                    <br />
                    <br />
                    <div style="text-align: center;">
                    <asp:Button ID="_btnPopupYes" runat="server" Text="Yes" Width="100px" CommandName="PopupYes" OnClick="PopupDialog_Click" />&nbsp;&nbsp;
                    <asp:Button ID="_btnPopupNo" runat="server" Text="No" Width="100px" CommandName="PopupNo" OnClick="PopupDialog_Click" />&nbsp;&nbsp;
                    <asp:Button ID="_btnPopupCancel" runat="server" Text="Cancel" Width="100px" CommandName="PopupCancel" OnClick="PopupDialog_Click" />
                    </div>
                    <br />
            </ContentTemplate>
            <Triggers>
                <asp:AsyncPostBackTrigger ControlID="_btnPopupYes" EventName="Click" />
                <asp:AsyncPostBackTrigger ControlID="_btnPopupNo" EventName="Click" />
            </Triggers>
        </asp:UpdatePanel>
    </UC:ModalForm>

    
	<div id="_divFooter" runat="server" class="footer" >
	    <br />
	    <br />
	    <table width="100%" class="footerBG">
            <tr>
                <td style="text-align: left; padding-left: 15px;">
                    <asp:PlaceHolder ID="_phFooterControls" runat="server"></asp:PlaceHolder>
                </td>
                <td style="text-align: right; padding-right: 15px;">
                    <asp:Button ID="_btnPrev" runat="server" Width="100px" Text="<< Previous" ToolTip="Previous Page" CommandName="PreviousClick" OnClick="FooterNav_Click" />
                    &nbsp;&nbsp;
                    <asp:Button ID="_btnNext" runat="server" Width="100px" Text="Next >>" ToolTip="Next Page" CommandName="NextClick" OnClick="FooterNav_Click" />
                </td>
            </tr>
        </table>

    </div> <!-- end #footer -->

</div>   <!-- end #wrap -->

</form>

<div id="_divCopyright" runat="server" class="copyright"  ><%=CopyrightText%></div>

</body>
</html>

