﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="EditAdversaryRequest.aspx.cs" Inherits="EditAdversaryRequest" MasterPageFile="~/Master.master" %>

<asp:Content ID="Content1" ContentPlaceHolderID="UpperContentPlaceHolder" runat="server">
    
</asp:Content>

<asp:Content ID="Content" ContentPlaceHolderID="LowerContentPlaceHolder" runat="server">

    <br />
    <br />
    <div style="text-align: center;">
        <asp:Button ID="_btnUpdate" runat="server" Text="Save Work" OnClick="btnSubmit_Click" CommandArgument="update" Width="150px" />&nbsp;&nbsp;&nbsp;
        <asp:Button ID="_btnComplete" runat="server" Text="Mark Complete" OnClick="btnSubmit_Click" CommandArgument="complete" Width="150px" />
    </div>

</asp:Content>