﻿
/* Content Areas */

.pageWrap 
{ 
	position: relative; 
	width: auto;
	margin: 0 1px 0 1px; 
	text-align: left;  
}

.tabMenu 
{ 
	width: auto; 
	font-size: xx-large; 
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
} 

.mainbody 
{ 
	float: inherit; 
	margin: 0; 
	padding: 0 10px 0 10px;
	display: block;
	padding-bottom: 30px;
}


.navBreadcrumbs
{ 
	padding-top: 10px;
	padding-bottom: 15px;
	font-size: small;
	font-weight: bold;
	color: #68849F;
	float: none;
	display: block;
}


.errorBoxContainer
{
    right: 1%;
	padding-top: 10px;
	padding-bottom: 15px;
	float: right;
	position: absolute;
	z-index: 2;
	width: 45%;
	max-width: 85%;
	display: block;
}

.errorBox
{
	Color: Red; 
	background-color: Yellow; 
	border: dashed 1px Red;
	padding: 3px 3px 3px 3px;
	margin: 5px 0px 10px 0px;	
}

.errorBoxButtons
{
	clear: both;
	height: 16px;
	cursor: pointer; 
	float: right; 
	font-weight: bold; 
	padding: 0px 2px 0px 0px; 
	vertical-align: middle;
	text-align: right;
	white-space: nowrap;
}

.errorBoxButtons img
{
	height: 16px;
	width: 16px;
}

.content
{
	table-layout: fixed;
}

/* invisible HR that keeps the content div's width stretched at 100% */
.contentXpander
{
	width: 98%; 
	height: 0px; 
	color: White;
	background-color: White;
	border: none 0px white;
}

.feedbackText
{
	font-weight: bold;
	width: 80%;
}

.headerTable
{
	width: 98%;
	margin: 0 0 10px 0;
}

.headerText
{
	font-weight: bold;
	font-size: large;
}

.contentMain
{
	width: 80%;
	float: right;
	clear: left;
	display:table;
	text-align: left;
	line-height: 1.5em;
}

.contentMainNoSidebar
{
	margin: 0px 5px 0px 5px;
	text-align: left;
	width: auto;
}

.contentSpacer
{
	width: 4%;
	float: left; 
	clear: right;
	display: inline;
}

.contentSidebar 
{ 
	width: 15%;
	float: left; 
	display: table;
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
}
.contentSidebarMenu
{ 
	padding: 15px 10px 15px 5px;
	background: #F0F0F0; 
	border: 1px solid #68849F;
}
.contentSidebarMenu dl 
{ 
	margin: 0; 
	padding: 0em 5px 0px 10px; 
}
.contentSidebarMenu dl dt 
{ 
	margin: 0; 
	padding: 0 0 .8em 6px; 
	font-weight: normal;
	font: 9pt Arial, Sans-Serif;
}
.contentSidebarMenu a
{ 
	
	font-weight: bold;
	text-decoration: none;
}
.contentSidebarMenu a:hover
{ 
	text-decoration: none;
}

.footer 
{ 
	float: none;
	display: inline-block;
	clear: both; 
	padding: 15px 0px 2px 0px;
	width: 100%;
	page-break-after:always; 
}
.footer a
{
	text-decoration: none;
}
.footer a:hover
{ 
	color: Black;
	text-decoration:underline;
}
.footerBG
{
	background: #F0F0F0; 
	border-top: 1px solid #68849F; 
}


/* Tab Menu Tab Styles */

.tabActive,
.tabInactive,
.tabInactiveDisabled,
.tabSpacerCell,
.tabLogoCell,
.tabOff
{
	/*border-bottom: solid 5px #68849F; */
	border-bottom: solid 0px #68849F; 
}

.tabOff
{
	width: 16%; 
	border-top: none; 
	border-right: none; 
	border-left: none;
	padding: 12px 1px 12px 1px; 
	text-align: center;
	font-weight: bold;
}

.tabActive,
.tabInactive,
.tabInactiveDisabled
{
	width: 16%; 
	border-top: solid 1px #68849F; 
	border-right: solid 1px #68849F; 
	border-left: solid 1px #68849F;
	padding: 12px 1px 12px 1px; 
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

.tabActive
{
	color: #F0F0F0;
	background-color: #68849F;
	cursor: default;
}

.tabInactive
{
	color: Black;
	background-color: #CCCCCC; 
	cursor: pointer;
}
.tabInactive:hover
{
	background-color: #F0F0F0;
}

.tabInactiveDisabled
{
	color: Black;
	background-color: #CCCCCC; 
	cursor: default;
}

.tabLogoCell
{
	padding-left: 5px; 
	padding-right: 5px; 
	vertical-align: middle; 
	text-align: left;
	width: 15%;
}

.tabLockIcon
{
	padding-right: 5px; 
	vertical-align: middle; 
	text-align: left;
}


.subMenu
{
	color: #F0F0F0;
	background-color: #68849F; 
	/*padding: 0px 15px 5px 15px; */
	padding: 0px 2px 5px 2px; 
	border-top: solid 2px #68849F;
	text-align: left;
	/*width: 100%;*/
	/*white-space: nowrap;*/
}


.tabActive a
{
	color: White;
	cursor: default;
}
.tabInactive a
{
	color: Black;
	text-decoration: none;
}
.tabActive a:hover,
.tabInactive a:hover
{
	text-decoration: none;
}


/* Tab Sub Menu Styles */

.subMenuLink,
.subMenuLinkSelected,
.subMenuSpacer
{
    border-top: solid 2px #68849F;
    border-bottom: solid 1px #68849F;
	height: 24px;
}

a.subMenuLink,
a.subMenuFlyoutLink
{
	color: #F0F0F0;
	text-decoration: none;
}
a.subMenuLinkSelected
{
	color: yellow;
	text-decoration: none;
}
a.subMenuLink:hover,
a.subMenuLinkSelected:hover
{
	text-decoration: underline;
}
.subMenuDisabled
{
	color: Gray;
}
a:hover.subMenuFlyoutLink
{
	color: #F0F0F0;
	text-decoration: none;
}
.subMenuFlyout
{
	border: solid 1px black;
}
.subMenuFlyoutItem
{
	color: Black;
	text-align: left;
	cursor: pointer; 
	font-weight:bold;
	text-decoration: none;
	padding: 2px 6px 2px 2px;
	background-color: #CCCCCC;
}
.subMenuFlyoutHover
{
	color: Black;
	background-color: #F0F0F0;	
	text-decoration: none;
}
a:hover.subMenuFlyoutItem
{
	 text-decoration: none;
}
.subMenuFlyoutItemSelected
{
	font-weight: bold;
	color: yellow;
}
a:hover.subMenuFlyoutItemSelected
{
	font-weight:bold;
	color: Black;
}

.subMenuSpacer
{
	text-align: center;
	padding: 0px 0px 0px 0px;
}




/* Side Bar Styles */

.sideBarMenuFlyout
{
	border: solid 1px #68849F;
}
.sideBarMenuFlyoutItem
{
	color: Black;
	text-align: left;
	cursor: pointer; 
	font-weight:bold;
	text-decoration: none;
	padding: 2px 6px 2px 2px;
	background-color: #F0F0F0;
}
.sideBarMenuDisabled
{
	color: Gray;
	font-weight:bold;
}
a.sideBarMenuLink
{
	color: Black;
}
a.sideBarMenuFlyout
{
	color: Black;
}
a:hover.sideBarMenuFlyout
{
	color: White;
}
.sideBarMenuFlyoutHover
{
	color: #F0F0F0;
	background-color: #68849F;	
	text-decoration: none;
}
a:hover.sideBarMenuFlyoutSelected
{
	font-weight:bold;
	color: Yellow;
}

.sideBarMenuFlyoutSelected
{
	color: Black;
}
