﻿a:link, a:visited 
{	
	color: gray; 
}


.pageWrap
{
	padding: 0 0 0 0;
}

.mainbody 
{ 
	margin: 0; 
	padding: 0 0 0 0;
}

.contentMain,
.contentMainNoSidebar
{
	float:none;
}

.contentSpacer,
.contentSidebar,
.modalFormPane,
.modalFormDisablePane,
.footer
{
	display: none;
}

#ctl00__upTabMenu{
	display:none;
}


.navBreadcrumbs
{ 
	padding-top: 0px;
	padding-bottom: 0px;
	font-size:smaller;
}

.copyright 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: center;
}