﻿
table
{
	font: 9pt Arial, Sans-Serif;
}

body 
{ 
	margin: 5px 0 0 0; 
	font-family: Verdana, sans-serif; 
	font-size: small;
	width: 100%;
}

blockquote 
{ 
	margin: 1em 0 1em 20px; 
	padding: 0; 
	font-size: 90%; 
	line-height: 1.4em; 
	color: #666; 
}

code 
{ 
	font-family: Monaco, monospace; 
	font-size: 110%; 
	line-height: 1.2em; 
	text-align: left; 
}

code strong
{ 
	color: #333; 
}

em 
{ 
	font-style: italic; 
}

strong 
{ 
	font-weight: bold; 
}

strike, del 
{ 
	text-decoration: line-through; 
}

ins 
{ 
	text-decoration: none; 
	font-style: italic;
}

img
{  
	border-style: none;
}

a
{
	color: #68849F;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
a.disabled 
{ 
	text-decoration: none;
} 
a:hover.disabled 
{ 
	text-decoration: none;
}

hr
{
	color: #68849F;
	width: 100%;
	margin: 3px 0px 3px 0px;
	height: 1px;
}

.sbControl
{
	padding: 1px 1px 1px 1px;
	border: solid 1px #68849F;
	background-color: White;
	width: 400px;
	font-family: Verdana, sans-serif; 
}

.sbControlFocused
{
	padding: 0px 0px 0px 0px;
	border: solid 2px #68849F;
	width: 400px;
	font-family: Verdana, sans-serif; 
}

.reportSpacer
{
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 5px;
}
 

.gridView
{
	text-align: left;
	overflow: auto;
	border: solid 1px #68849F;
}
.gridViewHeader,
.gridViewFrozenHeader
{
	font-weight: bold;
	text-align: left;
	background: #F0F0F0; 
	white-space: nowrap;
	border: solid 1px #68849F;
}
.gridViewFrozenHeader
{
	position: relative;
	top: expression(this.offsetParent.scrollTop - 1);
	z-index: 10;
}
.gridViewRow	
{
	white-space:normal;
	cursor: default;
	text-decoration: none;
	background-color: #F0F0F0;
	color: Black;
}
.gridViewRowHover
{
	white-space:normal;
	cursor:pointer;
	color: White;
	background-color: #68849F;
}
.gridViewRowHover a
{
	color: White;
	text-decoration: none;
}
.gridViewRowHover a:hover
{
	text-decoration: underline;
}

.gridViewItem
{
	padding: 5px 5px 5px 5px;
	height: 15px;
	vertical-align: middle;
}

.toolTip
{
	border: 1px dashed #68849F;
	position:absolute; 
	visibility:hidden; 
	z-index:2; 
	width: 300px;
	padding: 15px 15px 15px 15px;
	cursor: help;
	background-color: #F0F0F0;
}

.toolTipImg
{
	cursor: help;
}

.copyright 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: center;
	width: 100%;
}


.modalFormPane,
.hoverMenuPopup
{
	color: Black;
	border: groove 1px #68849F;
    z-index: 1000;
    padding: 5px 5px 5px 5px;
    text-align:left;
}
.modalFormPane
{
	font-weight: bold;
	background-color: #F0F0F0;
    
}
.modalFormDisablePane
{
	background-color: Transparent;
	z-index:999;
}
.hoverMenuPopup
{
	background-color: #F0F0F0;
}
.hoverMenuPopup a
{
	color: #68849F;
	text-decoration: none;
}
.hoverMenuPopup a:hover
{
	text-decoration: underline;
}
.hoverMenuPopup a.disabled 
{ 
	text-decoration: none;
} 
.hoverMenuPopup a:hover.disabled 
{ 
	text-decoration: none;
}

.formBuilderCapionText
{
	font-size: larger;
	vertical-align: top;
}


.boldLabel
{
	font-size: larger;
	font-weight: bold;
}

.screenTable td
{
	padding: 5px 2px 5px 0px;
	font-size: +1;
}
.screenTableNoWrap td
{
	padding: 5px 2px 5px 0px;
	font-size: +1;
	white-space: nowrap;
}

.popupCalendarExtender .ajax__calendar_container
{
	font-family: Tahoma, Arial, Helvetica, sans-serif; 
	background: #F0F0F0; 
	border: solid 1px #68849F;
	width: 190px;
}
.popupCalendarExtender .ajax__calendar_body
{
	width: 185px;
}
.popupCalendarExtender .ajax__calendar_day
{
	text-align: center;
}
.popupCalendarExtender .ajax__calendar_hover 
{
	color: White;
	background-color: #68849F;	
	text-decoration: none;
}
.popupCalendarExtender .ajax__calendar_active 
{
	border: solid 1px black;
}

.autoCompleteExtender
{
	background: #F0F0F0; 
	border-left: solid 1px #68849F;
    border-right: solid 1px #68849F; 
}
.autoCompleteExtenderHover
{
	color: White;
	background-color: #68849F;	
	text-decoration: none;
}


.repeaterBoxHover,
.repeaterBox
{
	border: solid 1px #68849F; 
	margin: 1px 1px 15px 1px; 
	padding: 5px 5px 5px 5px;
	width: auto;
	min-width: 700px;
}
.repeaterBox
{
	cursor: default;
}
.repeaterBoxHover
{
	background-color:	#F0F0F0;
	cursor: pointer;
}
.repeaterBoxHoverNoBG
{
	margin: 7px 0px 14px 0px;
	border: solid 2px #68849F; 
	padding: 15px 15px 15px 15px;
}
.repeaterBoxHeader
{
	color: black; 
	font-weight: bold;
}
.repeaterBoxIndent
{
	padding: 1px 5px 1px 25px;
}

.reportItemCaption
{
	width: 40%;
	font-weight: bold;
}
.reportItemValue
{
	width: 60%;
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 5px;
}

.entityEditDisabledBox
{
	margin: 8px 0px 15px 0px; 
	padding: 15px 15px 15px 15px;
	border: solid 1px white;
	border: solid 1px #68849F;
}
.entityEditEnabledBox
{
	margin: 8px 0px 15px 0px; 
	padding: 15px 15px 15px 15px;	
	border: solid 1px #68849F;
	background-color:	#F0F0F0;
}
.entityEditDisabledControl
{
	border: solid 1px white;
}
.entityEditEnabledControl
{
	border: solid 1px #68849F;
}

.CBAquaStyle .ajax__combobox_inputcontainer .ajax__combobox_textboxcontainer input
{
    margin: 0;
    background-image: url(images/combobox-aqua-bg.gif);
    background-position: top left;
    border: 0px none;
    padding: 2px 0px 0px 8px;
    font-size: 11px;
    height: 17px;
    width: 150px;
}
.CBAquaStyle .ajax__combobox_inputcontainer .ajax__combobox_buttoncontainer button
{
    background-image: url(images/combobox-aqua-arrow.gif);
    background-position: top left;
    border: 0px none;
    height: 19px;
    width: 19px;
}
.CBAquaStyle .ajax__combobox_itemlist
{
    border-color: #000000;
    background-color: #FFFFFF;
}

