﻿
/* Tab Menu Tab Styles */

.tabActive,
.tabInactive,
.tabInactiveDisabled,
.tabSpacerCell,
.tabLogoCell,
.tabOff
{
	border-bottom: solid 5px #68849F; 
}

.tabOff
{
	width: 16%; 
	border-top: none; 
	border-right: none; 
	border-left: none;
	padding: 12px 1px 12px 1px; 
	text-align: center;
	font-weight: bold;
}

.tabActive,
.tabInactive,
.tabInactiveDisabled
{
	width: 16%; 
	border-top: solid 1px #68849F; 
	border-right: solid 1px #68849F; 
	border-left: solid 1px #68849F;
	padding: 12px 1px 12px 1px; 
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
}

.tabActive
{
	color: #F0F0F0;
	background-color: #68849F;
	cursor: default;
}

.tabInactive
{
	color: Black;
	background-color: #CCCCCC; 
	cursor: pointer;
}
.tabInactive:hover
{
	background-color: #F0F0F0;
}

.tabInactiveDisabled
{
	color: Black;
	background-color: #CCCCCC; 
	cursor: default;
}

.tabLogoCell
{
	padding-right: 5px; 
	vertical-align: middle; 
	text-align: left;
	width: 20%;
}

.tabLockIcon
{
	padding-right: 5px; 
	vertical-align: middle; 
	text-align: left;
}


.subMenuCell
{
	color: #F0F0F0;
	background-color: #68849F; 
	/*padding: 0px 15px 5px 15px; */
	padding: 0px 0px 5px 0px; 
	border: solid 1px #68849F;
	text-align: left;
	/*width: 100%;*/
	/*white-space: nowrap;*/
}

.tabActive a
{
	color: White;
	cursor: default;
}
.tabInactive a
{
	color: Black;
	text-decoration: none;
}
.tabActive a:hover,
.tabInactive a:hover
{
	text-decoration: none;
}


/* Tab Sub Menu Styles */

a.subMenuLink,
a.subMenuFlyoutLink
{
	color: #F0F0F0;
	text-decoration: none;
}
a.subMenuLinkSelected
{
	color: yellow;
	text-decoration: none;
}
a.subMenuLink:hover,
a.subMenuLinkSelected:hover
{
	text-decoration: underline;
}
.subMenuDisabled
{
	color: LightGrey;
}
a:hover.subMenuFlyoutLink
{
	color: #F0F0F0;
	text-decoration: none;
}
.subMenuFlyout
{
	border: solid 1px black;
}
.subMenuFlyoutItem
{
	color: Black;
	text-align: left;
	cursor: pointer; 
	font-weight:bold;
	text-decoration: none;
	padding: 2px 6px 2px 2px;
	background-color: #CCCCCC;
}
.subMenuFlyoutHover
{
	color: Black;
	background-color: #F0F0F0;	
	text-decoration: none;
}
a:hover.subMenuFlyoutItem
{
	 text-decoration: none;
}
.subMenuTabFlyoutSelected
{
	font-weight: bold;
}
.subMenuSpacer
{
	text-align: center;
	padding: 0px 0px 0px 0px;
}




/* Side Bar Styles */

.sideBarMenuFlyout
{
	border: solid 1px #68849F;
}
.sideBarMenuFlyoutItem
{
	color: Black;
	text-align: left;
	cursor: pointer; 
	font-weight:bold;
	text-decoration: none;
	padding: 2px 6px 2px 2px;
	background-color: #F0F0F0;
}
.sideBarMenuDisabled
{
	color: Gray;
	font-weight:bold;
}
a.sideBarMenuLink
{
	color: Black;
}
a.sideBarMenuFlyout
{
	color: Black;
}
a:hover.sideBarMenuFlyout
{
	color: White;
}
.sideBarMenuFlyoutHover
{
	color: #F0F0F0;
	background-color: #68849F;	
	text-decoration: none;
}
.sideBarMenuFlyoutSelected
{
	font-weight: bold;
}

