﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Print.master.cs" Inherits="Adversary.Web.Screening.Print" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="head1" runat="server">
    <title></title>
    <script src="../Scripts/jquery-1.9.1.min.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="head" runat="server" />
</head>
<body>
    <form id="form1" runat="server">
    <div class="printpage">
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td>
                    <asp:ContentPlaceHolder ID="cphHeader" runat="server" />
                </td>
            </tr>
            <tr>
                <td class="contentwrap">
                    <asp:ContentPlaceHolder ID="cphMainContent" runat="server" />
                </td>
            </tr>
            <tr>
                <td>
                    <asp:ContentPlaceHolder ID="cphLowerContent" runat="server" />
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
