﻿body
{
    background-color: #ffffff;
    font-family: Arial;
    font-size: 9pt;
}

table.frv
{
    width: 100%;
    margin-bottom: 10px;
}

table.sum
{
    width: 100%;
    border-bottom: solid 2px #68849f;
    page-break-inside: avoid;
    padding-left: 15px;
}

table.sum td
{
    width: 50%;
    vertical-align:top;
    padding-left: 15px;
}

a.sum
{
    text-decoration: none;
    font-weight: bold;
    font-style:italic;
}

span.error
{
    color: #ff0000;
}

div.hdr
{
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 15px;
    width:100%;   
    text-align:center;
    font-weight:bold;
}

a.attach
{
    padding-left:17px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-image:url(Images/attach.png);
    background-position:left center;
    background-repeat:no-repeat;
    line-height: 20px;
}
