﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AdminMaster.Master.cs"
    Inherits="Adversary.Web.Admin.AdminMaster" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>
<%@ Register Src="~/Controls/PageMessage.ascx" TagName="PageMessage" TagPrefix="uc1" %>
<%@ Register src="~/Controls/TabNavigation.ascx" tagname="TabNavigation" tagprefix="uc2" %>
<%@ Register Src="~/Controls/SubTabNavigation.ascx" TagName="SubTabNavigation" TagPrefix="uc3" %>
<%@ Register TagPrefix="advControls" TagName="ErrorSummary" Src="~/Controls/ErrorSummary.ascx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server" id="head1">
    <title></title>
    <%--includes happen in the Page_Load event to keep the app path updated--%>
    <script type="text/javascript" language="javascript">
        function showMPX(behaviorID) {
            hh.showMPX(behaviorID);
        }
    </script>
    <asp:ContentPlaceHolder ID="head" runat="server" />
</head>
<body>
    <form id="form1" runat="server">
    <asp:ToolkitScriptManager ID="scr1" runat="server" EnablePageMethods="true" EnablePartialRendering="true" />
    <div class="page">
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr class="tabbg">
                <td width="100%" class="tabbg" id="tdTabs" runat="server">
                    <asp:HyperLink ID="imgLogo" runat="server" ImageUrl="~/Images/HHLogo2.jpg" AlternateText="Holland &amp; Hart"
                        NavigateUrl="~/Default.aspx" CssClass="cancel" />
                    <uc2:TabNavigation ID="tabNav" runat="server" OnPreRender="tabNav_PreRender" />
                </td>
            </tr>
            <tr>
                <td width="100%" class="subtabbg">
                    <uc3:SubTabNavigation ID="subTabNav" runat="server" />
                </td>
            </tr>
            <tr>
                <td>
                    <asp:LoginView ID="loginView" runat="server">
                        <LoggedInTemplate>
                            You are logged in as
                            <asp:LoginName ID="loginName" runat="server" />
                        </LoggedInTemplate>
                    </asp:LoginView>
                    <advControls:ErrorSummary ID="master_ErrorSummary" runat="server" />
                    <asp:ContentPlaceHolder ID="cphHeader" runat="server" />
                    <%-- content of screens and forms will go here --%>
                </td>
            </tr>
            <tr>
                <td>
                    <uc1:PageMessage ID="pageMessage" runat="server" />
                </td>
            </tr>
            <tr>
                <td class="contentwrap">
                    <asp:ContentPlaceHolder ID="cphMainContent" runat="server" />
                </td>
            </tr>
            <tr>
                <td class="buttonBG" width="100%">
                    <asp:ContentPlaceHolder ID="cphLowerContent" runat="server" />
                    <%-- navigation buttons etc will go here --%>
                </td>
            </tr>
        </table>
    </div>
    </form>
</body>
</html>
