﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin/AdminMaster.Master" AutoEventWireup="true" CodeBehind="RejectedMemos.aspx.cs" Inherits="Adversary.Web.Admin.RejectedMemos" Theme="HH" %>

<asp:Content ID="cntHead" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="cntHeader" ContentPlaceHolderID="cphHeader" runat="server">
</asp:Content>
<asp:Content ID="cntMain" ContentPlaceHolderID="cphMainContent" runat="server">

</asp:Content>
<asp:Content ID="cntLower" ContentPlaceHolderID="cphLowerContent" runat="server">
</asp:Content>
