﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="AdminEdit.aspx.cs" Inherits="AdminEdit" MasterPageFile="~/Master.master" %>

<asp:Content ID="Content" ContentPlaceHolderID="UpperContentPlaceHolder" runat="server">



</asp:Content>