﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="BasicInfo.aspx.cs" Inherits="BasicInfo" MasterPageFile="~/Master.master" %>


<asp:Content ID="Content" ContentPlaceHolderID="UpperContentPlaceHolder" runat="server">
<strong>
<%--commented by A Reimer 03/21/12 for 'Rejected to Modification Required' change--%>
<%--This is an adversary index search request ONLY.   Submission of either a regular or
rejected screening memo is required to complete this process.--%>

<%--
blmcgee@hollandhart.com 2014-01-13
This is an adversary index search request ONLY.  Submission of either a regular or
modification required screening memo is required to complete this process.
--%>
This is an adversary index search request ONLY.   Submission of either a regular or
rejected screening memo is required to complete this process.


</strong><br />
<br />

</asp:Content>