﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="Parties.aspx.cs" Inherits="Parties" MasterPageFile="~/Master.master" %>

<asp:Content ID="Content" ContentPlaceHolderID="UpperContentPlaceHolder" runat="server">




</asp:Content>