﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="AutoRefresh.ascx.cs" Inherits="Adversary.Web.Controls.AutoRefresh" %>
<asp:Timer ID="timRefresh" runat="server" OnInit="timRefresh_Init" Interval="60000" />
