﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="HelpLabel.ascx.cs" Inherits="Adversary.Web.Controls.HelpLabel" %>
<label id="l" runat="server" class="help"></label>
<span id="s" runat="server" class="help" style="display: none;"></span>
