﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PrintViewLink.ascx.cs" Inherits="Adversary.Web.Controls.PrintViewLink" %>
<a id="lnkPrintView" runat="server" target="_blank" onprerender="lnkPrintView_PreRender">View Memo in Print View</a>