﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProBonoTypes.ascx.cs" Inherits="Adversary.Web.Controls.ProBonoTypes" %>
<asp:DropDownList ID="ddlProBonoTypes" runat="server" OnInit="ddlProBonoTypes_Init"></asp:DropDownList>