﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ScreeningMemoLockStatus.ascx.cs"
    Inherits="Adversary.Web.Controls.ScreeningMemoLockStatus" %>
<asp:Image ID="imgLock" runat="server" OnPreRender="imgLock_PreRender" ImageUrl="~/App_Themes/HH/Images/small_lock.png" />