﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Requests/Requests.Master" AutoEventWireup="true" CodeBehind="Summary.aspx.cs" Inherits="Adversary.Web.Requests.Summary" Theme="HH" %>
<%@ Register TagPrefix="uc" TagName="RequestSummary" Src="~/Controls/RequestSummary.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="cphMainContent" runat="server">
    <uc:RequestSummary ID="ucRequestSummary" runat="server" />
    <%--<asp:Table ID="tblSummary" runat="server" SkinID="RequestSummary">
        <asp:TableRow>
            <asp:TableCell>
                Request ID
            </asp:TableCell>
            <asp:TableCell>
                <asp:Label id="lblRequestID" runat="server" />
            </asp:TableCell>
        </asp:TableRow>
        <asp:TableRow>
            <asp:TableCell>
                Submitted On
            </asp:TableCell>
            <asp:TableCell>
                <asp:Label ID="lblSubmittedOn" runat="server" />
            </asp:TableCell>
        </asp:TableRow>
        <asp:TableRow>
            <asp:TableCell>
                Deadline Date
            </asp:TableCell>
            <asp:TableCell>
                <asp:Label ID="lblDeadlineDate" runat="server" />
            </asp:TableCell>
        </asp:TableRow>
        <asp:TableRow>
            <asp:TableCell>
                Attorney Payroll ID
            </asp:TableCell>
            <asp:TableCell>
                <asp:Label ID="lblAttorneyPayrollID" runat="server" />
            </asp:TableCell>
        </asp:TableRow>
    </asp:Table>--%>
</asp:Content>
