﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PartyRelationshipCodeDropdown.ascx.cs" Inherits="Adversary.Web.Controls.PartyRelationshipCodeDropdown" %>
<asp:DropDownList ID="ddlRelationshipCodes" runat="server" />