﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ScreeningMemoSummary.ascx.cs"
    Inherits="Adversary.Web.Controls.ScreeningMemoSummary" %>
<asp:PlaceHolder ID="phSections" runat="server"></asp:PlaceHolder>
